<table border="0" class="table table-condensed  table-responsive">
    <tbody>
        <tr style="background-image: -ms-linear-gradient(top, #ffffff 20%, #EBEBEB 100%);">
            <td align="left" style="padding-left: 10px;color:#2080BE;"><h4><span class="fa fa-angle-double-right" style="color:#2080BE;"></span>&nbsp;<b>About Roofer Locator</b></h4></td>
        </tr>
        <tr>
            <td valign="top" style="padding: 7px;">
                <img height="150" align="left" src="/images/aboutpic.gif">
                Where you can quickly locate roofers in your area who will compete for your business.  At <strong>Roofer Locator</strong> you can locate roofers, requests free quotes from several roofers at the same time, and receive written quotes in 24 hours.<br>
                <br>
                <strong>Roofer Locator</strong> is the only name you need to remember when looking for roofing services. Whether you need a residential or commercial roof repaired, replaced or need to complete a construction project.  Roofer Locator will help you find a roofer that best suits your needs.  Our customers select from a list of well established roofers with various experience, who are bonded, licensed and insured.<br>
                <br>
                So start your search now and put your mind at ease. Click on the Search Tab.  Put in your zip code.  Select from our list of options.  See a list of roofers in your area.  Connect to additional information, which will help you with your selection.  Put a check mark next to roofers you like, and we will do the rest.  We will send your request to the roofers you select.  They will contact you within 24 hours to setup an appointment.<br>
                <br>
                If you are a roofer, please take a minute to register with <strong>Roofer Locator</strong>.  We will boost your sales and help you find new customers by leveraging the power of the Internet.  Do not be put off, if you do not have internet access or an email address.  For an additional fee, we will provide you with an email account that you can use from any internet connection.  If you decide to use our email service, we can serve up requests on your cell phone and/or direct them to another email address.
            </td>
        </tr>
    </tbody>
</table>
