<table border="0" class="table table-condensed  table-responsive">
    <tbody>
        <tr style="background-image: -ms-linear-gradient(top, #ffffff 20%, #EBEBEB 100%);">
            <td align="left" style="padding-left: 10px;color:#2080BE;"><h4><span class="fa fa-angle-double-right" style="color:#2080BE;"></span>&nbsp;<b>Contact Us</b></h4></td>
        </tr>
        <tr>
            <td valign="top" style="padding: 7px;">
                <form onsubmit="return validateContactus(this);" action="contactus.asp" method="post">
                    <input name="op" type="hidden" value="send">
                    <table class="tablebg2" border="0" cellspacing="1" cellpadding="5">
                        <tbody class="tablebg1">
                            <tr>
                                <td colspan="2">
                                    Please use the form below to send us your question or to request assistance.&nbsp;
                                    If you do not have an email address,<br>
                                    you can leave a message at<strong> (877) 517-3404 <!--, (770) 517-3404 --></strong> <br><br>
                                    <strong> Postal Address : P.O. Box 1411, Woodstock, GA 30188. </strong><br>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2"><strong><span class="redfont">*&nbsp;</span>Denotes Required Fields</strong></td>
                            </tr>
                            <tr>
                                <td><strong><span class="redfont">*</span>First Name</strong></td>
                                <td width="81%"><input name="fname" type="text" value=""></td>
                            </tr>
                            <tr>
                                <td width="19%"><strong><span class="redfont">*</span>Last Name</strong></td>
                                <td><input name="lname" type="text" value=""></td>
                            </tr>
                            <tr>
                                <td><strong><span class="redfont">*</span>Email</strong></td>
                                <td><input name="email" type="text" value=""></td>
                            </tr>
                            <tr>
                                <td><strong>Company Name</strong></td>
                                <td><input name="company_name" type="text" value=""></td>
                            </tr>
                            <tr>
                                <td><strong>Phone Number</strong></td>
                                <td><input name="phone" type="text" value=""></td>
                            </tr>
                            <tr>
                                <td><strong>Best time to reach you</strong></td>
                                <td><input name="reach_you" type="text" value=""></td>
                            </tr>
                            <tr>
                                <td valign="top"><strong><span class="redfont">*</span>Subject</strong></td>
                                <td>
                                    <select name="subject" tabindex="27" size="1">
                                        <option value="-1">Select Subject</option>
                                        <option value="Advertising">Advertising</option>
                                        <option value="Becoming a Member">Becoming a Member</option>
                                        <option value="Report a Roofer">Report a Roofer</option>
                                        <option value="Website Feedback">Website Feedback</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top"><strong><span class="redfont">*</span>Message</strong></td>
                                <td>
                                    <textarea name="desc" rows="7" cols="50"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><input name="Image27" width="72" height="22" id="Image27" onmouseover="MM_swapImage('Image27','','images/submit_h.gif',1)" onmouseout="MM_swapImgRestore()" type="image" src="images/submit.gif" border="0"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </td>
        </tr>
    </tbody>
</table>