<table border="0" class="table table-condensed  table-responsive">
    <tbody>
        <tr style="background-image: -ms-linear-gradient(top, #ffffff 20%, #EBEBEB 100%);">
            <td align="left" style="padding-left: 10px;color:#2080BE;"><h4><span class="fa fa-angle-double-right" style="color:#2080BE;"></span>&nbsp;<b>RooferLocator.com Terms and Conditions</b></h4></td>
        </tr>
        <tr>
            <td valign="top" align="left" style="padding: 7px;">
                The terms and conditions are as posted and governs the RooferLocator.com website. These sites are owned by RooferLocator.com. Using these websites to advertise will constitute your agreement to all of the terms and conditions of this Agreement. If you do not agree to these terms and conditions, please do not use these websites to advertise. RooferLocator.com reserves the right to change, modify, add or remove portions of any other terms and conditions at any time. Updates to terms and conditions will be periodically each quarter. It is the responsibility of the advertiser to check for updates. RooferLocator.com owns and is the licensee of all material posted on each website.<br>
                <br>
                <span class="subheading" style="color:#5c8309;font-family:Arial;font-size:11pt;font-weight:bold;">Membership Terms and Conditions</span><br>
                Deciding to become an advertiser of RooferLocator.com, the advertiser agrees that they meet the following criteria: Licensed, Bonded and Insured in the State(s) that service is being performed for each customer, including permits and safety requirements that each local, state and federal law requires. Each advertiser must provide an e-mail address and check for e-mails from customers within 48 hours. It is not necessary to provide a website address to advertiser with RooferLocator.com.<br>
                <br>
                <span class="subheading" style="color:#5c8309;font-family:Arial;font-size:11pt;font-weight:bold;">Fees for advertising with RooferLocator.com</span><br>
                No fees will be charged to advertiser unless otherwise noted by e-mail or mailed letter. A 30–60 day notice to advertiser will be sent by e-mail or mailed letter if Rooferlocator.com changes the fee procedures at which time the Terms and Conditions for charges will be updated and visible on each website that is owned by Rooferlocator.com.<br>
                <br>
                <span class="subheading" style="color:#5c8309;font-family:Arial;font-size:11pt;font-weight:bold;">Use of Service</span><br class="subheading">
                The advertiser with Rooferlocator.com websites is aware that this service directory may be used for lawful purposes only and will not use this service directory for unlawful purposes, will not post any incomplete, obscene, false, indecent, offensive language, offensive pictures.<br>
                <br>
                <span class="subheading" style="color:#5c8309;font-family:Arial;font-size:11pt;font-weight:bold;">Disclaimer</span><br>
                Rooferlocator.com does not provide recommendations to potential customers or other advertisers for use of service.<br>
                <br>
                <span class="subheading" style="color:#5c8309;font-family:Arial;font-size:11pt;font-weight:bold;">Termination of Service with Advertiser </span><br>
                Rooferlocator.com may issue a warning or completely terminate the advertiser without notice if advertiser breaches any other terms and conditions listed above.                  <br>
                <br>
            </td>
        </tr>
    </tbody>
</table>
